# .coveragerc: Configuration file for coverage.py.
# http://nedbatchelder.com/code/coverage/

[run]
source = deb_pkg_tools
omit = deb_pkg_tools/tests.py

[report]
exclude_lines = raise NotImplementedError()

# vim: ft=dosini
