# The installation requirements of deb-pkg-tools. Note that the python-debian
# requirement is handled in setup.py because it's conditional on the Python
# version.

coloredlogs >= 0.4.6
executor >= 19.0
humanfriendly >= 4.17
property-manager >= 2.1
python-debian >= 0.1.34
six >= 1.10.0
